@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    padding: 40px;
    height: 80vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
div{
    display: flex;
    flex-direction: column;
}
input{
    border: 2px solid purple;
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

button{
    margin-top: 10px;
    border: 0;
    width: 200px;
    color: white;
    background-color: purple;
    font-weight: 500;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}
ul{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid purple
    
}

li{
    list-style-type: none;
}